<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="Author" content="阮家友" />
  <meta name="Keywords" content="HTML,model,test" />
  <meta name="Description" content="special effect model" />
  <meta name="time" content="2015-9-27 10:41:48" />
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"
  />
  <title>工具集合</title>
  <link rel="stylesheet" href="<$- UI_SITE $>/css/common.css" />
  <link rel="stylesheet" href="<$- UI_SITE $>/css/common.layout.css" />
  <link rel="stylesheet" href="<$- UI_SITE $>/css/common.button.css" />
  <link rel="stylesheet" href="<$- UI_SITE $>/css/common.pagination.css" />
  <link rel="stylesheet" href="<$- UI_SITE $>/css/common.table.css" />
  <link rel="stylesheet" href="<$- UI_SITE $>/css/common.page.css" />
  <link rel="stylesheet" href="/styles/css3-list.css" />
  <script src="<$- UI_SITE $>/js/jquery.js"></script>
  <style>
    #center {
      padding: 2rem;
    }
  </style>
</head>

<body>
  <div id="center">
    <h2>网页工具</h2>
    <ul class="css3-list">
      <li>
        <a href="<$- UI_SITE $>" target="_blank">UI-2017库</a>
      </li>
      <li>
        <a href="/utils/request" target="_blank">显示请求头</a>
      </li>
      <li>
        <a href="/utils/response" target="_blank">显示响应头</a>
      </li>
      <li>
        <a href="/utils/html-tree" target="_blank">显示网页结构</a>
      </li>
      <li>
        <a href="/utils/recognition-body" target="_blank">显示正文识别</a>
      </li>
      <li>
        <a href="/utils/recognition-images" target="_blank">采集图片地址</a>
      </li>
      <li>
        <a href="/utils/base64" target="_blank">base64工具</a>
      </li>
      <li>
        <a href="/utils/css-compress-format" target="_blank">css压缩和格式化</a>
      </li>
      <li>
        <a href="/utils/web-format" target="_blank">html/js格式化</a>
      </li>
      <li>
        <a href="/utils/caculate-hash" target="_blank">计算hash</a>
      </li>
      <li>
        <a href="/utils/delete-line-number" target="_blank">删除行号</a>
      </li>
      <li>
        <a href="/utils/QRcode" target="_blank">二维码</a>
      </li>
      <li>
        <a href="/utils/word-count" target="_blank">中英文字数统计</a>
      </li>
      <li>
        <a href="/utils/chinese2pinyin" target="_blank">汉字转拼音</a>
      </li>
      <li>
        <a href="/utils/show-bezier" target="_blank">贝塞尔曲线</a>
      </li>
    </ul>
    <h2>代码片段</h2>
    <ul class="css3-list">
      <li>
        <a href="/codes/css3-list" target="_blank">css3列表样式</a>
      </li>
      <li>
        <a href="/codes/copy" target="_blank">一键复制</a>
      </li>
      <li>
        <a href="/codes/max-subarray-sum" target="_blank">连续子数组最大和</a>
      </li>
      <li>
        <a href="/codes/word-count" target="_blank">字数统计</a>
      </li>
      <li>
        <a href="/codes/template-compile" target="_blank">字符串模板编译</a>
      </li>
      <li>
        <a href="/codes/permutation-combination" target="_blank">排列组合</a>
      </li>
    </ul>
  </div>
  <script>

  </script>
</body>

</html>